@font-face {
  font-family:'Shamel-bold';
  src: url('../fonts/Shamel-Bold.ttf');
}
@font-face {
  font-family:'Shamel-thin';
  src: url('../fonts/Shamel-thin.ttf');
}

:root {
  --black: #22282c;
  --gold: #be944a;
  --gold-hover: #ad8743;
  --gray: #65686a; 
  --light-gold: #f2eadb; 
  --white: #fff;
  --duration: .3s;
}

html {
  direction: rtl;
  text-align: right;
  scroll-behavior: smooth;
}

body {
  font-family: 'Shamel-bold';
  color: var(--black) !important;
}

/* start loading page */

.loading-overlay {
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--gold);
  z-index: 2000;
}

.loader {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: auto;
  margin-left: auto;
  top: 47%;
  transform: translateY(-47%);
}

.loader::before , .loader::after{
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 48em;
  height: 48em;
  background-image:
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0),
    radial-gradient(circle 10px, #FFF 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                       13em -13em, -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}

.loader::after {
  font-size: 1px;
  background: var(--white) url('../img/icons/logo-icon.svg') no-repeat center center/80%;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0% , 100%{ font-size: 0.75px }
  50% { font-size: 1.5px }
}
@keyframes blast {
  0% , 40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
   100% {
     font-size: 6px;
    opacity: 0;
  }
}

/* end loading page */

/* start global */

.text-black { color: var(--black) !important }

.text-gray { color: var(--gray) }

.text-gold { color: var(--gold) }

.bg-black { background-color: var(--black) !important }

.bg-gold { background-color: var(--gold) }

.hover-gold { transition: .2s all ease-in-out }

.hover-gold:hover { color: var(--gold) }

.btn-gold {
  background-color: var(--gold);
  color: var(--white);
  transition: .3s background-color ease-in-out;
}

.btn-gold:hover, .btn:first-child:active {
  background-color: var(--gold-hover);
  color: var(--white);
}

.btn:first-child:active {
  border-color: var(--gold);
}

a { text-decoration: none }

ul {
  margin: 0;
  padding: 0;
}

li { list-style: none }

.form-control:hover, .form-control:focus {
  border-color: #c8cbcf;
  box-shadow: none;
}

p, .text-regular { font-family:'Shamel-thin' }

.text-bold { font-family:'Shamel-bold' }

.user-select-none, img, button, .btn, .nav-link, .dropdown-item {
  user-select: none;
}

.cursor-pointer { cursor: pointer }

.transition { transition: .2s all ease-in-out }

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.max-content { width: max-content }

.head-right::before {
  content: '';
  position: absolute;
  top: -20px;
  right: -20px;
  width: 3px;
  height: 60px;
  background-color: var(--black);
}

.head-center::before {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 3px;
  background-color: var(--gold);
}

/* end global */

/* start buttons */

.btn-black-line {
  display: block;
  text-align: center;
  color: var(--white);
  padding-top: 15px;
  padding-bottom: 10px;
  width: 200px;
  background-color: rgba(34,40,44,.2);
  color: var(--black);
  border: var(--black) 2px solid;
  border-radius: 20px;
  transition: .3s all ease-in-out;
}

.btn-black-line:hover {
  background-color: var(--black);
  color: var(--white);
}

/* end buttons */

/* start navbar */

@media (max-width: 576px ) {
  .navbar-brand img {
    width: 130px;
  }
}

.navbar {
  background-color: rgba(255,255,255,.7);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(0,0,0,0.175);
}

.navbar-toggler {
  border: none;
  margin-left: 5px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler {
  padding: 0;
}

.navbar-toggler-icon {
  background-image: url(../img/icons/menu.svg);
  transition: .3s all ease-in-out;
}

.navbar-toggler-x-icon {
  background-image: url(../img/icons/close-icon.svg);
}

.dropdown-toggle::after {
  margin-right: 5px;
}

.nav-item:not(:last-child) {
  margin-left: 2rem;
}

.nav-link {
  color: var(--black);
}

.nav-link:hover, .navbar-nav .nav-link.active, .active  {
  color: var(--gold);
}

.dropdown-menu { 
  right: -65px !important;
  min-width: 14rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin-right: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .dropdown-menu { 
    background-color: transparent;
    background-clip: none;
    border: none;
  }
  .contact-us {
    margin-top: 10px;
  }
}

.dropdown-item {
  transition: .3s all ease-in-out;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.dropdown-item:hover {
  color: var(--gold);
  background-color: transparent;
  margin-right: 5px;
}

/* end navbar */


/* start carousel */

.carousel-inner::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(transparent, rgba(0,0,0,.7));
}

/* start carousel item-1 */

.carousel-inner .item-1 {
  /* height: calc(100vh - 99px);
  margin-top: 99px; */
  background: var(--white) url('../img/background.png') no-repeat center center/cover;
}

.carousel-inner .item-1::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -95%;
  left: 50%;
  transform: translateX(-50%);
  width: 180%;
  height: 150%;
  background-color: rgba(0,0,0,.75);
  border-radius: 50%;
}

.carousel-inner .item-1::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -94%;
  left: 50%;
  transform: translateX(-50%);
  width: 173%;
  height: 147.5%;
  border: var(--gold) solid 2px;
  border-radius: 50%;
}

@media(min-width: 1199px) {
  .carousel-inner .item-1::before {
    top: -42%;
    left: -38%;
    width: 180%;
    height: 200%;
  }
  .carousel-inner .item-1::after {
    top: -41%;
    left: -39%;
    width: 180%;
    height: 197%;
  }
}

@media(max-width: 1199px) {
  .slide-ahmed-sherif {
    flex-direction: column;
  }
  .slide-ahmed-sherif > * {
    width: 100%;
    height: 50%;
  }
  .ahmed-sherif-photo img {
    height: 100%;
  }
  .carousel-inner .item-1-text {
    max-width: 400px !important;
  }
  .carousel-inner .item-1 h2 {
    font-size: 2.2rem !important;
  }
  .carousel-inner .item-1 > * p {
    font-size: 1rem !important;
    line-height: 1.8rem !important;
  }
}

@media(min-width: 1200px) {
  .carousel-inner .item-1 .ahmed-sherif-photo {
    height: calc(100vh - 100px)
  }
  .ahmed-sherif-photo img {
    width: 100%;
  }
}

@media(max-width: 576px) {
  .carousel-inner .item-1 .slide-ahmed-sherif {
    margin-top: 80px !important;
    height: calc(100vh - 80px) !important;
  }
  .carousel-inner .item-1 .ahmed-sherif-photo img {
    width: 80%;
    height: 90%;
    min-width: 349px;
    min-height: 376px;
    max-width: 349px;
    max-height: 376px;
  }
  .carousel-inner .item-1 .slogan {
    margin-top: 0 !important;
  }
  .carousel-inner .item-1 p, h2 {
    margin-bottom: 5px !important;
  }
  .carousel-inner .item-1 p, h2 {
    transform: scale(.9)
  }
}

.item-1-img {
  content: '';
  position: absolute;
  z-index: 10;
  bottom: -300px;
  left: -50px;
  width: 400px;
}

@media (max-width: 770px) {
  .item-1-img {
    bottom: -250px;
    width: 300px;
  }
}

/* end carousel item-1 */


/* start carousel item-2 */

.carousel-inner .item-2 {
  background: var(--white) url('../img/kaaba-1.jpg') no-repeat center center/cover;
}

.carousel-inner .item-2::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -82%;
  left: 50%;
  transform: translateX(-50%);
  width: 103%;
  height: 150%;
  background-color: rgba(0,0,0,.75);
  border-radius: 50%;
}

.carousel-inner .item-2::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: -83%;
  left: 50%;
  transform: translateX(-50%);
  width: 102%;
  height: 150%;
  border: var(--gold) solid 2px;
  border-radius: 50%;
}

.item-2-content {
  content: '';
  position: absolute;
  z-index: 3;
  top: 42%;
  left: 54%;
  transform: translate(-50%, -50%);
  color: var(--white);
}

.item-2-img {
  content: '';
  position: absolute;
  z-index: 10;
  top: 39%;
  left: 38%;
  transform: translate(-50%, -50%);
  width: 300px;
}

@media(max-width: 1200px) {
  .carousel-inner .item-2::before {
    width: 180%;
  }
  .carousel-inner .item-2::after {
    width: 177%;
  }
  .item-2-img {
    left: 30%;
    width: 250px;
  }
}

@media(max-width: 576px) {
  .item-2-img {
    left: 22%;
    width: 250px;
  }
}

/* end carousel item-2 */

.carousel-indicators, .carousel-control-next, .carousel-control-prev {
  z-index: 100;
}

.carousel-control-next, .carousel-control-prev {
  width: 10%
}

@media(max-width: 576px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(0,0,0,.4);
  background-size: 60%
}

@media (max-width: 576px) {
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    min-height: 2rem;
  }
}

.carousel-indicators {
  margin-bottom: 30px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px
}

/* end carousel */

.servic-icon {
  width: 125px;
  height: 125px;
  background-color: var(--light-gold);
}

.servic-icon img { mix-blend-mode: multiply }

.services p {
  font-size: 1.1rem;
}

/* start umrah */
.umrah {
  position: relative;
  width: 100%;
  min-height: 800px;
  background: var(--gold) url('../img/bakg-umrah-2.jpg') no-repeat bottom center/cover;
  color: var(--white);
}

.umrah::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--gold);
  width: 100%;
  height: 100%;
  opacity: .85;
}
/* end umrah */

/* start product */

.product {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 450px;
  background-color: var(--black);
  transition: .3s box-shadow ease-in-out;
}

.product::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background-image: linear-gradient(transparent, rgba(0,0,0,1));
}

.product::before {
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  right: 30%;
  z-index: 5;
  transform: translate(450% , -50%);
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.6) url(../img/icons/arrow-link.svg) no-repeat center center/50%;
  border: 2px solid rgba(255, 255, 255, .9);
  border-radius: 50%;
  transition: .2s all ease-in-out;
}

.product > img {
  transition: .3s all ease-in-out;
}

.product-level {
  content: '';
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  background-color: var(--gold);
  color: var(--white);
  padding: 8px 20px 5px 20px;
  border-radius: 15px;
}

.product-company {
  content: '';
  position: absolute;
  z-index: 2;
  top: -20px;
  left: 28px;
  width: 90px;
  height: 110px;
  background-color: var(--white);
  padding: 8px 20px 5px 20px;
  border-radius: 15px;
}

.product .product-company img, .card-link .product-company img { 
  margin-top: 28px;
  margin-right: -10px;
  width: 70px;
}

.product-text {
  content: '';
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 100%;
  transition: .3s bottom ease-in-out;
}

.product:hover .product-text {
  bottom: 30px;
}

.product:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4)
}

.product:hover > img {
  transform: scale(1.1);
}

.product:hover.product::before {
  transform: translate(-50% , -50%);
}

/* @media (max-width: 1400px) {
  .umrah-latest > *, .travel-latest > * {
    flex: 0 0 50%;
    max-width: 50%;
  }
} */

/* @media (max-width: 768px) {
  .umrah-latest > * .travel-latest > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
} */
/* end product */


/* start features */

@media (min-width: 992px) {
  .features-icon {
    display: flex !important;
  }
}

/* end features */


/* start testimonials */

.testimonials-carousel {
  margin-top: 50px;
  /* max-width: 700px */
}

.testimonial {
  margin-top: 70px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 40px
}

.swiper-button-prev, .swiper-button-next {
  transition: .3s ease-in-out;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--black)
}

@media(max-width: 576px){
  .details-imgs {
    margin-top: 15px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-bottom: 10px !important;
  }
}

.swiper .swiper-pagination-bullet-active {
  background-color: var(--black);
}

.testimonial-person-img {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-width: 10px !important;
}

.testimonial-social {
  position: absolute;
  top: 20px;
  right: 20px
}

.testimonial-text {
  margin-top: 70px;
}

/* end testimonials */


/* start statistics */

.statistics {
  position: relative;
  width: 100%;
  /* min-height: 600px; */
  background: var(--white) url('../img/statistics.svg') no-repeat center center/cover;
  color: var(--white);
}

.statistics::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--black);
  width: 100%;
  height: 100%;
  opacity: .9;
}

/* end statistics */

/* start join-us */

.whats-form {
  max-width: 650px;
}

.whats-form input::placeholder {
  color: rgba(0,0,0,.3);
  font-family: 'Shamel-thin';
}

@media(max-width: 576px){

  .swiper-button-prev, .swiper-button-next {
    display: none;
  }

  .testimonial {
    margin-right: 0px;
    margin-left: 0px;
  }

  .send-btn {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .join-us p {
    font-size: 1.1rem !important;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 2rem;
  }

}

/* end join-us */


/* start footer */

.social-media-links .social {
  transform: scale(.8);
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: var(--light-gold);
  margin-left: 5px;
  transition: .2s all ease-in-out;
}

.social-media-links .social:hover {
  background-color: #f1e4c6;
}

.links ul > * {
  margin-bottom: 15px;
}

.contact ul > * {
  margin-bottom: 10px;
}

.links ul {
  margin-right: 0px;
}

.links > * a {
  display: block;
  width: max-content;
}

.links * a, .contact-section * a {
  transition: .2s all ease-in-out
}

.links * a:hover, .contact-section * a:hover {
  color: var(--gold)
}

.contact-icon {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  background-color: var(--light-gold);
}

@media (min-width: 992px ) {
  .contact-section {
    width: max-content;
    margin-right: auto;
  }
}

.payment li {
  list-style: none;
  margin-left: 15px;
}

@media (max-width: 576px ) {
  .payment li {
    transform: scale(.8);
    margin-left: 0px;
  }
  .contact-section > * p {
    font-size: 16px !important;
  }
  .copyrights p {
    font-size: 12px;
  }
}

/* end footer */


/* start umrah & travel page */

.head-img {
  margin-top: 100px;
}

@media (max-width: 576px ) {
  .head-img {
    margin-top: 81px;
  }
}

.card .image {
  position: relative;
  overflow: hidden;
  white: 100%;
  height: 300px;
}

.card .image::after {
  display: block;
  position: absolute;
  content: '';
  bottom: 25%;
  right: 50%;
  z-index: 5;
  transform: translate(470% , -50%);
  width: 70px;
  height: 70px;
  background: rgba(0, 0, 0, 0.6) url(../img/icons/arrow-link.svg) no-repeat center center/50%;
  border: 2px solid rgba(255, 255, 255, .9);
  border-radius: 50%;
  transition: .3s all ease-in-out;
}

.card {
  transition: .3s box-shadow ease-in-out;
  max-height: 560px;
}

.card-link:hover .card {
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.3);
}

.card-link:hover .image::after {
  transform: translate(45% , -50%);
}

.card .image img {
  transition: .3s all ease-in-out;
}

.card-link:hover .image img {
  transform: scale(1.1);
}

.umrah-head-page, .travel-head-page {
  position: relative;
  width: 100%;
  height: 400px;
}

.umrah-head-page {
  background: var(--gold) url(../img/vector.svg) no-repeat center center/cover;
}

.travel-head-page {
  background: var(--white) url(../img/travel-trips.png) no-repeat bottom center/cover;
}

.travel-head-page::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.head-page-text {
  height: 400px;
}

.travel-head-page .head-page-text {
  content: '';
  position: absolute;
  z-index: 2;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.head-page-img {
  margin-top: -130px;
  width: 100%;
  min-width: 400px;
  height: 650px;
  border-width: 10px !important;
  background: url(../img/bakg-umrah-2.jpg) no-repeat center -70px/cover;
}

@media (max-width: 1000px) {
  .umrah-head-page, .head-page-text, .travel-head-page {
    height: 300px;
  }
  .umrah-head-page .head-page-text {
    justify-content: center;
    height: 300px;
  }
  .umrah-head-page .head-page-text p, .travel-head-page p {
    font-size: 20px !important;
  }
  .head-page-img-container {
    display: none;
  }
}

@media(max-width: 500px){
  .head-slogan {
    max-width: 350px;
  }
}
/* end umrah & travel page */


/* start umrah-details */

.big-box-shadow {
  position: fixed;
  z-index: -1;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: var(--white);
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.1)
}

.details-imgs {
  display: flex;
  align-item: flex-end;
  margin-top: 40px;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 40px
}

table > * td:first-child {
  font-family: 'Shamel-thin';
}

.table .table-row {
  padding-top: 12px;
  padding-right: 1rem;
}

.pro-item {
  position: relative;
  font-size: 1rem;
  font-family: 'Shamel-thin';
  margin-right: 30px;
  margin-bottom: 10px;
}

.pro-item::before {
  content: '';
  position: absolute;
  background: url(../img/icons/correct-gold.svg) no-repeat center center;
  top: -5px;
  right: -35px;
  width: 30px;
  height: 30px;
}

/* end umrah-details */
